<!doctype html>
<html lang="{{lang}}" ng-app="bibliotech" ng-class="(waiting.screen || tags.cloud) && 'overflown'" ng-init="version = '{{version}}'">
    <head>
        <title>{{title}}</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="description" content="{{description}}">
        <meta name="author" content="{{author}}"/>
        <meta name="keywords" content="{{keywords}}"/>
        <meta property="og:title" content="{{title}}" />
        <meta property="og:type" content="{{type}}" />
        <meta property="og:description" content="{{description}}" />
        <meta property="og:url" content="{{url}}" />
        <meta property="og:image" content="{{image}}" />
        <link rel="stylesheet" href="../css/bibliotech.css"/>
    </head>

    <body page="{{page}}">
        <div class="waiting" ng-hide="!!waiting && !waiting.screen" ng-class="waiting.over && 'over'"></div>
        <div class="roundIcon" ng-hide="!!waiting && !waiting.icon"></div>
        <div class="waitAnim" ng-hide="!!waiting && !waiting.anim">
            <div id="one"></div><div id="two"></div><div id="three"></div><div id="four"></div><div id="five"></div>
        </div>
        <div class="help" ng-show="!!windows.opened.help" def-cloak>
            <header>[{trads.welcome}]</header><hr />
            <section>
                <div>
                    <aside id="helpMenu"></aside>
                    <span>[{trads.mask}]&nbsp;/&nbsp;[{trads.affich}]&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;M</span>
                </div>
                <div>
                    <aside id="helpLogout"></aside>
                    <span>[{trads.logout}]&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;L</span>
                </div>
                <div>
                    <aside id="helpSearch"></aside>
                    <span>[{trads.search}]&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;R</span>
                </div>
                <div>
                    <aside id="helpProfile"></aside>
                    <span>[{trads.profile}]&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;P</span>
                </div>
                <div>
                    <aside id="helpCollection"></aside>
                    <span>[{trads.collection}]&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;B</span>
                </div>
                <div>
                    <aside id="helpTags"></aside>
                    <span>[{trads.tags}]&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;E</span>
                </div>
                <div>
                    <aside id="helpNotifs"></aside>
                    <span>[{trads.notifications}]</span>
                </div>
                <div>
                    <aside id="helpAdd"></aside>
                    <span>[{trads.addbook}]</span>
                </div>
                <div>
                    <aside id="helpContacts"></aside>
                    <span>[{trads.contacts}]&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;I</span>
                </div>
                <div>
                    <aside id="helpHelp"></aside>
                    <span>Help&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;H</span>
                </div>
            </section>
            <footer>
                <button id="helpClose" ng-click="windows.close('help')">[{trads.close}]</button>
            </footer>
        </div>

        <div navbar def-cloak></div>

		<section class="window" search ng-show="!!windows.opened.search" ng-style="{ 'top': windows.opened.search + 'px' }" def-cloak></section>

        <section id="profileWindow" class="window" profile ng-show="!!windows.opened.profile" ng-style="{ 'top': windows.opened.profile+ 'px' }" def-cloak></section>

        <section id="detailWindow" class="window" ng-class="(!detail.book.base64 && !detail.book.alternative) && 'noCover'" detail ng-show="!!windows.opened.detail" ng-style="{ 'top': windows.opened.detail + 'px' }" def-cloak></section>

        <section id="previewWindow" class="window" ng-show="!!windows.opened.preview" ng-style="{ 'top': windows.opened.preview + 'px' }" def-cloak>
            <span class="closePreview" title="[{trads.close}]" ng-click="windows.close('preview')"></span>
            <span class="googlePreview" title="Google Preview" ng-click="navbar.openUrl(detail.book.link)"></span>
            <iframe id="iPreview" name="iPreview" seamless=true></iframe>
        </section>

        <section id="recommandWindow" class="window" ng-show="!!windows.opened.recommand" ng-style="{ 'top': windows.opened.recommand + 'px' }" def-cloak>
            <header class="windowheader">&nbsp;[{trads.recommand}]<div class="closeWindow" title="[{trads.close}]" ng-click="windows.close('recommand')"></div></header>
            <form name="recommandForm" autocomplete="off" novalidate ng-submit="recommandForm.$valid && detail.recommand()">
                <div>
                    <input ng-model="detail.recommandTo" error="[{trads.errRecommand}]" compare-to="profile.user.id" not-equals="true" type="email" required placeholder="[{trads.recommandMail}]" auto-focus="windows.opened.recommand"/>
                    <input type="submit" value="[{trads.recommandSend}]" />
                </div>
            </form>
            <legend>[{trads.recommandLegend}]</legend>
        </section>

        <section id="confirmWindow" class="window" ng-show="!!windows.opened.confirm" ng-style="{ 'top': confirm.top + 'px', 'left': confirm.left  + 'px' }" def-cloak>
            <header class="windowheader">&nbsp;
                <span id="titre">[{confirm.titre}]</span>
                <div class="closeWindow" title="[{close}]" ng-click="windows.close('confirm')" ng-hide="confirm.callback"></div>
            </header>
            <article>
                <BR>
                <span id="message">[{confirm.message}]<BR></span>
                <button class="valid" ng-show="!!confirm.callback" ng-click="confirm.callback()">[{trads.valid}]</button>
                <button class="cancel" ng-show="!!confirm.callback" ng-click="windows.close('confirm')">[{trads.cancel}]</button>
            </article>
        </section>

        <section id="contextMenu" ng-style="context.style" ng-show="context.show" def-cloak>
            <div class="navgrid">
                <div>
                    <span nav="top" source="arrow-24-icon-top" blur="white" hover="alt" width="32" height="32"></span>
                </div>
                <div>
                    <span nav="left" source="arrow-24-icon-left" blur="white" hover="alt" width="32" height="32"></span>
                    <span nav="right" source="arrow-24-icon-right" blur="white" hover="alt" width="32" height="32"></span>
                </div>
                <div>
                    <span nav="bottom" source="arrow-24-icon-bottom" blur="white" hover="alt" width="32" height="32"></span>
                </div>
            </div>
            <div>
                <div ng-show="detail.book.inCollection" ng-click="windows.open('recommand')">[{trads.torecommand}]&nbsp;</div>
                <div ng-show="detail.book.access === 'SAMPLE'" ng-click="windows.open('preview')">[{trads.preview}]&nbsp;</div>
                <div ng-show="detail.book.link" ng-click="search.associated()">[{trads.connex}]&nbsp;</div>
                <div ng-show="detail.book.link" ng-click="navbar.openUrl(detail.book.link)">[{trads.gbooks}]&nbsp;</div>
                <div ng-show="detail.book.inCollection && !detail.book.cover" ng-click="detail.uploadCover()">[{trads.upload}]&nbsp;</div>
                <hr ng-hide="!detail.book" />
                <div ng-hide="!detail.book || detail.book.inCollection" ng-click="detail.addBook()">[{trads.add}]&nbsp;</div>
                <div ng-show="detail.book.inCollection" ng-click="detail.updateBook()">[{trads.save}]&nbsp;</div>
                <div ng-hide="!detail.book" ng-click="windows.close('detail')">[{trads.close}]&nbsp;</div>
            </div>
        </section>

        <div ng-style="{ 'top': navbar.height + 'px' }" bookcells></div>

        <footer id="footer" title="Top" ng-show="footer" def-cloak></footer>

        <div id="noConnect" ng-show="!!waiting.connect" def-cloak><span>[{trads.noConnect}]</span><span>[{trads.waiting}]</span></div>

        <script src="js/bibliotech.lib.js"></script>
        <!--<script src="js/bibliotech.js"></script>-->
        <script src="js/dev/bibliotech.js"></script>
        <script src="js/dev/modules/preloader.js"></script>
        <script src="js/dev/modules/socket.js"></script>
        <script src="js/dev/modules/idb.js"></script>
        <script src="js/dev/modules/navbar.js"></script>
        <script src="js/dev/modules/search.js"></script>
        <script src="js/dev/modules/profile.js"></script>
        <script src="js/dev/modules/bookcells.js"></script>
        <script src="js/dev/modules/detail.js"></script>
        <script src="js/dev/modules/defcloak.js"></script>
    </body>
</html>
