<h1>[{trads.welcome}]</h1>
<form name="login" autocomplete="off" novalidate ng-submit="login.$valid && submit()">
    <input type="email" name="email" ng-model="user.email" placeholder="[{trads.email}]" required title="[{trads.email}]" autofocus value="tassin.j@wanadoo.fr"/>
    <input type="text" ng-model="user.name" autocomplete="off" placeholder="[{trads.name}]" error="[{trads.errName}]" ng-show="new" ng-required="new" title="[{trads.name}]" ng-minlength="4" defCloak/>
    <input type="hidden" />
    <input type="password" ng-model="user.password" ng-minlength="4" ng-maxlength="12" placeholder="[{trads.password}]" data-m="[{trads.errPwd}]" required title="[{trads.password}]" />
    <input type="password" ng-model="user.confirm" ng-minlength="4" ng-maxlength="12" placeholder="[{trads.confirmed}]" ng-show="new" ng-required="new" data-h title="[{trads.confirmed}]" compare-to="user.password" defCloak/>
    <label>[{trads.active}]<input type="checkbox" ng-model="user.active"/></label>
    <span class="g" ng-show="error" ng-bind="error"></span>
    <span class="n" ng-show="success" ng-bind="success"></span>
    <BR>
        <input type="button" ng-value="new && trads.cancel || trads.create"/>
        <input type="submit" ng-value="new && trads.valid || trads.connection" ng-disabled="login.$invalid"/>
</form>
<p ng-show="error" defCloak><button class="m" ng-disabled="login.email.$invalid">[{trads.forgetPassword}]</button></p>
<p><button id="f"></button></p>
