/logs/
/node_modules/
/root/images/*/
/ssl/
/config.json
/.rebooted
/tools/admins.js
/root/dev/
npm-debug.log
/.npmrc
/bibliotech_service_account.json
/bibliotech.json
/start_bibliotech_dev
/stop_bibliotech_dev
/google_client_config.json
/.brackets.json
/gruntfile.js
