* { box-sizing:border-box }
*:focus { outline: none; }

body {
    background-color: #493D26;
    overflow-x : hidden;
    overflow-y : auto;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    width: 100%;
    height: 100%;
    color: ghostwhite;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.notdisplayed {
    display: none !important;
}

.alert {
	background-color: red !important;
	color: whitesmoke !important;
	font-weight: bold !important;
}

#logout, #footer, h2 .waiting, h1 div, [submit], [delete] {
    background-image: url(../../images/spritesheet_admin.png);
    background-repeat: no-repeat;
}

#logout {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    /*background-image: url(../../images/white/eject-icon.png);
    background-repeat: no-repeat;*/
    background-position: -136px -6px;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

#logout:hover {
    /*background-image: url(../../images/black/eject-icon.png);*/
    background-color: ghostwhite;
    background-position: -188px -6px;
}

#footer {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    /*background-image: url(../../images/white/iconmonstr-arrow-31-top.png);
    background-position: center;
    background-repeat: no-repeat;*/
    background-position: -240px -6px;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

#footer:hover {
    /*background-image: url(../../images/black/iconmonstr-arrow-31-top.png);*/
    background-color: ghostwhite;
    background-position: -292px -6px;
}

h2 > div {
    display: inline-block;
}

h2 .titre {
    cursor: pointer;
    text-decoration: underline;
}

h1 div, h2 .waiting {
    /*background-image: url(../../images/iconmonstr-loading-12-icon-24.png);*/
}

h1 div {
	cursor: pointer;
    vertical-align: middle;
	border-radius: 50%;
    width: 68px;
    height: 68px;
	display: inline-block;
    background-position: -62px 0px;
}

h1 div:hover {
	background-color: ghostwhite;
    background-position: 0px 0px;
}

h2 .waiting {
    width: 24px;
    height: 24px;
    vertical-align: top;
    vertical-align: top;
	animation: fullRotation 5s inFinite;
    background-position: -436px -10px;
}

@keyframes fullRotation {
	from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

[def\:cloak], [def-cloak], [data-def-cloak], [x-def-cloak], .def-cloak, .x-def-cloak {
    visibility: hidden !important;
}

[type=covers] > div {
    display: inline-block;
    margin: 2px;
    vertical-align: top;
    text-align: center;
    width: 256px;
    height: 256px;
    position: relative;
}

[type=covers] [delete] {
    position: absolute;
    bottom: 5px;
    left: 5px;
	border-radius: 15px;
}

[cover] {
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    opacity: .5;
}

.used {
	position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
}

.tr {
    display: table-row;
	max-width: 98%;
}

.tr > div {
    vertical-align: top;
    display: table-cell;
    border: 1px solid #493D26;
    padding: 5px;
}

.header {
    background-color: grey;
    text-align: center;
    cursor: default;
}

[field] {
    cursor: pointer;
}

[field]:hover {
    background-color: darkgrey;
    color: black;
}

/*.header > *:not(.inactive) {
    cursor: pointer;
}

.header > *:not(.inactive):hover {
    background-color: darkgrey;
    color: black;
}*/

.tr:not(.header) > * {
    text-align: right;
    background-color: whitesmoke;
    color: #493D26;
}

.tr:not(.header) > *:first-child {
    color: darkblue;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.tr:not(.header) > *:first-child:hover {
    color: darkred;
}

[submit] {
    width: 34px;
    height: 34px;
    /*background-image: url(../../images/iconmonstr-check-mark-7-icon-valid.png);*/
    cursor: pointer;
    /*background-position: center;
    background-repeat: no-repeat;*/
    background-position: -387px -5px;
}

[submit][disabled] {
    /*background-image: url(../../images/iconmonstr-check-mark-7-icon-invalid.png);*/
    cursor: not-allowed;
    background-position: -343px -5px;
}

[delete] {
    width: 34px;
    height: 34px;
    /*background-image: url(../../images/iconmonstr-x-mark-5-icon-24.png);
    background-position: center;
    background-repeat: no-repeat;*/
    background-position: -475px -5px;
    cursor: pointer;
}

[submit]:not([disabled]):hover, [delete]:hover {
	background-color: lightgray;
}

textarea {
	width: 100%;
}
