* { box-sizing:border-box }
*:focus { outline: none; }

body {
    background-color: #E6E6E6;
    background-image: url("../../images/background_login.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: ghostwhite;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.notdisplayed, [def\:cloak], [def-cloak], [data-def-cloak], [x-def-cloak], .def-cloak, .x-def-cloak {
    display: none !important;
}

h1 {
    padding-left: 10px;
}

section {
    background: url("../../images/black_patch.jpg");
    width: 600px;
    max-width: 96%;
    margin: 2%;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    opacity: .9;
}

form input {
    margin: 5px;
    padding: 5px;
}

[type=email], [type=text], [type=password] {
    display: block;
    width: 90%;
    border: 1px black solid;
    border-radius: 2px;
}

label {
    display: block;
}

label, [type=checkbox] {
    margin: 5px;
    cursor: pointer;
    vertical-align: middle;
    line-height: 100%;
}

[type=button], [type=submit] {
    font-weight: bold;
    border-radius: 2px;
    min-width: 20%;
    cursor: pointer;
    border: none !important;
}

[type=button]:hover, [type=submit]:not([disabled]):hover {
    text-decoration: underline;
    font-style: italic;
}

[type=submit] {
    float: right;
}

[disabled] {
    cursor: not-allowed !important;
    color: graytext !important;
}

.e {
    border: 4px #CB4747 solid;
}

.error {
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    float: right;
    margin-bottom: 5px;
}

p {
    margin: 0px;
    text-align: right;
    padding-bottom: 5px;
}

#f {
    margin-right: 5px !important;
    background-image: url("../../images/google-plus-icon.png");
    background-size: 100% 100%;
    background-color: transparent;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border: none !important;
    border-radius: 15px 5px;
    opacity: .9;
}

#f:hover {
    opacity: 1;
}

form span {
    text-align: right;
}

.g {
    width: 100%;
    text-align: right;
    font-weight: bold;
    color: red;
    padding: 5px;
    font-size: 18px;
    float: right;
    vertical-align: middle;
}

.n {
    width: 100%;
    text-align: right;
    font-weight: bold;
    color: limegreen;
    padding: 5px;
    font-size: 18px;
    float: right;
    vertical-align: middle;
}

div {
	position: fixed;
	top: 0;
	left: 0;
    height: 100%;
	width: 100%;
    cursor: wait;
    opacity: .50;
	background-color: #616161;
    text-align: center;
    z-index: 5;
}

.k {
	max-height:	80%;
	max-width:	80%;
	position:	relative;
	top	: 40%;
    cursor: wait;
	animation: fullRotation 5s inFinite;
}

.m {
    /*float: right;*/
    background-color: darkorange;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    min-width: 20%;
    cursor: pointer;
    border: none !important;
    margin: 5px;
    padding: 5px;
}

.m:not(.l):not([disabled]):hover {
    background-color: orange;
    text-decoration: underline;
    font-style: italic;
}

.l {
    opacity: .5;
    color: grey;
}

.fadeout {
    animation: fadeout .25s ease;
}

.fadein {
    animation: fadein .5s ease;
}
@keyframes fadein { from { opacity: 0; } to { opacity: 1; }}
@keyframes fadeout { from { opacity: 1; } to { opacity: 0; }}


@keyframes fullRotation {
	from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ng-invalid {
    border-color: red !important;
}

.ng-valid {
    border-color: green !important;
    border-width: 2px !important;
}

input:not(.ng-hide) {
    animation: fadein .5s;
}
