* { box-sizing:border-box }
*:focus { outline: none; }

body {
    background-color: #E6E6E6;
    background-image: url("../../images/background_login.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: ghostwhite;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

section {
    background: url("../../images/black_patch.jpg");
    width: 600px;
    max-width: 96%;
    margin: 2%;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    opacity: .9;
    display: none;
}

form input {
    margin: 5px;
    padding: 5px;
}

[type=email], [type=text], [type=password] {
    display: block;
    width: 90%;
    border: 1px black solid;
    border-radius: 5px;
}

label {
    display: block;
}

label, [type=checkbox] {
    margin: 5px;
    display: inline;
    cursor: pointer;
    vertical-align: middle;
    line-height: 100%;
}

[type=button], [type=submit] {
    font-weight: bold;
    border-radius: 5px;
    min-width: 20%;
    cursor: pointer;
    border: none !important;
}

[type=button]:hover, [type=submit]:hover {
    text-decoration: underline;
    font-style: italic;
}

[type=submit] {
    float: right;
}

[h] {
    display: none;
}

.e {
    border: 4px #CB4747 solid;
}

#f {
    margin-left: 5px !important;
}

.g {
    width: 100%;
    text-align: right;
    display: none;
    font-weight: bold;
    color: red;
    padding: 5px;
    font-size: 18px;
    float: right;
}

div {
	position: fixed;
	top: 0;
	left: 0;
    height: 100%;
	width: 100%;
    cursor: wait;
    opacity: .50;
	background-color: #616161;
    text-align: center;
    z-index: 5;
}

.k {
	max-height:	80%;
	max-width:	80%;
	position:	relative;
	top	: 40%;
    cursor: wait;
	-moz-animation: fullRotation 5s inFinite;
	-webkit-animation: fullRotation 5s inFinite;
	-o-animation: fullRotation 5s inFinite;
	-ms-animation: fullRotation 5s inFinite;
	animation: fullRotation 5s inFinite;
}

.m {
    float: right;
    display: none;
    background-color: darkorange;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    min-width: 20%;
    cursor: pointer;
    border: none !important;
    margin: 5px;
    padding: 5px;
}

.m:not(.l):hover {
    background-color: orange;
    text-decoration: underline;
    font-style: italic;
}

.l {
    opacity: .5;
    color: grey;
}

@-moz-keyframes fullRotation {
	from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fullRotation {
	from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes fullRotation {
	from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes fullRotation {
	from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
