* {
    box-sizing: border-box;
}

html {
    background-color: #493D26;
    overflow-x : hidden;
    overflow-y : auto;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    width: 100%;
    height: 100%;
}

.overflown {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

*:focus {
    outline: none;
}

.notdisplayed {
    display: none !important;
}

#w {
	position: fixed;
	top: 0;
	left: 0;
    height: 100%;
	width: 100%;
	background-color: #616161;
    z-index: 6;
    cursor: wait;
    opacity: .50;
    text-align: center;
}

#w.over {
    z-index: 8;
}

.nvb {
    position: fixed;
    top: 0;
    opacity: .95;
    color: white;
    z-index: 4;
    white-space: nowrap;
    overflow-y: auto;
    padding: 5px;
    max-height: 100%;
    /*right: 0;*/
}

#nvb {
    max-width: 100%;
    background-color: darkgoldenrod;
    left: 0;
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
}

#nvb > div {
    display: block;
    margin: 5px;
    width: auto;
}

#nvb > img {
    float: right;
    margin: 5px;
    vertical-align: middle;
}
/*
.nvb > div {
    margin: 2px;
    padding: 3px;
    border-radius: 5px;
    min-width: 5%;
    text-align: center;
    display: inline-block;
}*/

/*.nvb > div:not(.filtre) {
    cursor: pointer;
}*/

/*.mnv, #cloud, .window, #uploadHidden, .template, .context, #detailWindow {
    display: none;
}*/

.mnv {
    background-color: transparent;
}

/*.mnv > div:hover, #footer:hover {
    background-color: darkgoldenrod;
}*/

/*#maskedorder {
    position: fixed;
    left: 1%;
}*/


.nvb > div > img {
    vertical-align: middle;
    max-width: 64px;
    /*visibility: hidden;*/
}

.nvb > div > span {
    margin-left: 5px;
}


/*.nvb h4 {
    position: relative;
    vertical-align: middle;
    height: 100%;
}*/

/*#nvb > div:hover:not(.active):not(.filtre):not(#picture) {
    background-color: white;
    color: black;
    transition: box-shadow linear .2s, background-color linear .2s;
}*/

.inactive {
    pointer-events: none;
    opacity: .3;
}

/*#contact {
    cursor: pointer;
    max-width: 32px;
    position: absolute;
    right: 0;
}*/

/*#contactWindowContent {
    text-align: center;
    vertical-align: middle;
}

#contactWindowContent img {
    max-width: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    cursor: pointer;
}*/

#selectedTag {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

#sort, #notifs {
    background-color: white;
    border-bottom-right-radius: 5px;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    min-width: 10%;
    max-width: 100%;
    /*opacity: 0;*/
}

#sort > div, #notifs > div {
    padding: 5px;
    cursor: pointer;
    white-space: nowrap;
}

/*#sort > div:not(.sortBy):hover,  #notifs > div:hover {
    color: darkgoldenrod;
    text-decoration: underline;
    font-style: italic;
}*/

.sortBy {
    font-weight: bold;
    color: darkgoldenrod;
}

.action {
    position: relative;
}

#notifNumber {
    position: relative;
    top: -5px;
    right: -5px;
    padding: 3px 6px 3px 6px;
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size:.90em;
    text-align: center;
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}
/*
#picture {
    cursor: default !important;
    position: absolute;
    right: 64px;
}*/

#picture > img {
    border-radius: 5px;
    cursor: default;
    width: 32px;
    height: auto;
    visibility: visible;
    cursor: pointer;
}

.saveorder {
    float: right;
    cursor: pointer;
}

#d {
    margin-left .5%;
    width: 99%;
    max-width: 99%;
    text-align: center;
}

.col {
    margin: 0px;
    padding: 0px;
    display: table-cell;
}

.errMsg {
    text-align: right;
    color: darkred;
    font-weight: bold;
    text-decoration: underline;
}

.bookcell {
    margin: 2.5px;
    background-color: black;
    border-color: #666;
    color: white;
    font-size: 12px;
    border-radius: 6px;
    border: 1px solid transparent;
    z-index: 2;
}

/*.bookcell:hover {
    color: black;
    background-color: goldenrod;
    transition: box-shadow linear .2s, background-color linear .2s;
}*/
.bookcell header, .bookcell figcaption, .bookcell img {
    cursor: pointer;
}

.toDelete {
    opacity: .9;
}

.isDrag {
    background-color: silver !important;
    cursor: move;
    opacity: .75;
}

.bookcell header {
    color: white;
    font-size: 150%;
    background-color: #2E2E2E;
    border-color: #333;
    border-radius: 6px;
    padding: 5px;
    margin: 1px;
    border-width: 0px 0px 1px;
    border-bottom: 1px solid transparent;
    overflow: hidden;
}

/*.bookcell:hover > header {
    color: goldenrod;
}*/

.bookcell article {
    position: relative;
    min-height: 30px;
    padding: 5px;
}

.bookcell figure {
    margin: 5px;
    position: relative;
}

.bookcell figcaption {
    font-size: 150%;
    text-align: center;
}

/*.bookcell .personnal, .bookcell .previewable {
    display: inline;
    position: absolute;
    left: 5px;
}*/

.bookcell button {
    font-size: 125%;
    opacity: .9;
    display: inline-block;
    width: 40%;
    z-index: 3;
    color: white;
    border: none !important;
    min-height: 40px;
    cursor: pointer;
}

.bookcell footer {
    position: absolute;
    left: 5px;
}

.bookcell footer > img {
    float: left;
    margin-left: 5px;
}

button.add {
    position: absolute;
    left: 0;
    background-color: darkgreen;
    border-bottom-right-radius: 10px;
}

button.remove {
    position: absolute;
    right: 0;
    background-color: darkred;
    border-bottom-left-radius: 10px;
}

.active {
    background-color: black;
    padding: 2px;
    border-radius: 2px;
}

.active span {
    color: darkgoldenrod;
}

#formNew input, #formNew textarea {
    display: block;
}

#formNew [type=text], #formNew textarea {
    width: 80% !important;
}

#formNew button, .nonEditable button {
    border: none !important;
    height: 24px;
    color: black;
    background-color: transparent;
}

.modify {
    background-color: darkgreen !important;
    border-radius: 5px;
    color: white !important;
    cursor: pointer;
}

/*.modify:hover {
    background-color: green !important;
}*/

.hide {
    background-color: darkred !important;
}

/*.hide:hover {
    background-color: red !important;
}*/

#formNew time:before, #formNew [type=date]:before {
    content: "le ";
}

#formNew [field=isbn10]:before {
    content: "10: ";
}

#formNew [field=isbn13]:before {
    content: "13: ";
}

#cloud {
	position: fixed;
	top: 0;
	left: 0;
    height: 100%;
	width: 100%;
	background-color: black;
    z-index: 7;
    text-align: center;
}

#cloud > img {
    position: fixed;
    right: 0;
    margin: 5px;
    cursor: pointer;
    z-index: 8;
}

#cloud span.tag {
    cursor: pointer;
    position: fixed;
    padding: 1px;
}
/*#cloud span.tag:hover {
    text-decoration: underline;
    color: whitesmoke;
    font-weight: bolder;
}*/
#cloud span.tag10 {
    color: #B8860B;
    font-size: 4em;
}
#cloud span.tag9 {
    color: #FF8C00;
    font-size: 3em;
}
#cloud span.tag8 {
    color: #FFA500;
    font-size: 2.5em;
}
#cloud span.tag7 {
    color: #8B4513;
    font-size: 2.25em;
}
#cloud span.tag6 {
    color: #D2691E;
    font-size: 2em;
}
#cloud span.tag5 {
    color: #CD853F;
    font-size: 1.75em;
}
#cloud span.tag4 {
    color: #DAA520;
    font-size: 1.5em;
}
#cloud span.tag3 {
    color: #F4A460;
    font-size: 1.25em;
}
#cloud span.tag2 {
    color: #D2B48C;
    font-size: 1em;
}
#cloud span.tag1 {
    color: #DEB887;
    font-size: 0.75em;
}

.window {
    width: 500px;
    max-width: 100%;
    /*border: 5px solid darkgoldenrod;*/
    background-color: white;
    z-index: 7;
    /*max-width: 96%;*/
    position: absolute;
    top: 0;
    left: 0;
    /*border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
}

.windowheader {
    background-color: darkgoldenrod;
    /*color: white;
    font-size: 24px;
    font-weight: bold;*/
    line-height: 36px;
    /*font-style: oblique;*/
}

.windowheader > img {
    margin: 5px;
    vertical-align: middle;
}

.windowheader .closeWindow {
    float: right;
}

.window input {
    margin: 2px;
}

.window > div {
    width: 100%;
    position: relative;
    padding: 2px;
    white-space: nowrap;
}

.window .radio {
    font-style: italic;
    text-decoration: underline;
}

.window [type=radio] {
    vertical-align: bottom;
}

#recommand4u {
    text-align: left;
}

.window input[type=submit], .window input[type=button], .window .valid, .window .cancel {
    border-radius: 5px;
    text-shadow: 0px 1px 0px #525252;
    font-family: Georgia;
    color: #ffffff;
    font-size: 15px;
    background: darkgreen;
    padding: 5px 10px 5px 10px;
    border: none !important;
    cursor: pointer;
}

/*.window input[type=submit] {
    float: right;
}*/

.window .valid {
    float: right;
    margin: 5px;
}

.window .cancel {
    float: left;
    margin: 5px;
    background: darkred;
}

/*.window input[type=submit]:hover, .window input[type=button]:hover, .window .valid:hover {
    background: limegreen;
}*/

/*.window .cancel:hover {
    background: red;
}*/

.window [type=search], .window [type=text], .window [type=password], .window [type=email], .window [type=number], .window textarea {
    font-size: 15px;
    border: 1px grey solid;
    height: 24px;
    border-radius: 5px;
}

.window [type=search], .window [type=text], .window [type=password], .window [type=email], .window textarea {
    width: 80%;
}

.window textarea {
    height: 5em;
    margin-top: 5px;
}

.window [type=date] {
    font-size: 15px;
    border: 1px grey solid;
    height: 24px;
    border-radius: 5px;
}

.window label {
    width: 80%;
}

.window #delete {
    /*float: right;*/
    background: darkred;
}

/*.window #delete:hover {
    background: red;
}*/

#searchWindow [type=radio], #searchWindow label {
    cursor: pointer;
}

#searchWindow > img {
    float: right;
    cursor: default;
}

#formProfil [type=submit] {
    float: right;
}

#wa {
    text-align: center;
    z-index: 5;
    width: 100%;
    position: fixed;
    top: 0;
    height: auto;
    /*opacity: 0.75;*/
    cursor: no-drop;
}

#wa > div {
    margin: 5px;
    border-radius: 33%;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: solid 2px white;
    position: relative;
    cursor: wait;
	-moz-animation: bounce .9s infinite;
	-webkit-animation: bounce .9s infinite;
	-o-animation: bounce .9s infinite;
	-ms-animation: bounce .9s infinite;
	animation: bounce .9s infinite;
}

#wa > #one {
    background-color: #EDDA74;
}

#wa > #two {
    background-color: #EAC117;
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#wa > #three {
    background-color: #D4A017;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#wa > #four {
    background-color: #806517;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#wa > #five {
    background-color: #493D26;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#nbBooks {
    font-weight: bold;
}

#contactsWindow {
    /*width: 400px !important;*/
}

#contactsWindow > article {
    text-align: center;
}

#contactsWindow > article > img {
    display: inline-block;
    margin: 5%;
}

#contactsWindow > img {
    float: right;
    margin-bottom: 2px;
    margin-right: 2px;
}

#detailWindow {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

#detailWindow > header {
    text-align: right;
}

#detailContent {
    position: relative;
/*    height: auto;
    overflow-y: auto;*/
}

#detailContent #background {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#detailContent > div {
    display: inline-block;
    vertical-align: top;
    overflow-y: auto;
}

.userComment {
    width: 90% !important;
}

#detailContent textarea {
    width: 100%;
    opacity: .8;
}

.userComment #userDate {
    float: right;
}

.detailCover {
    width: 20%;
    max-width: 33%;
    text-align: center;
    overflow: hidden;
}

.detailCover > img {
    margin-top: 5%;
    cursor: default;
    max-width: 96%;
}

.detailCover > img.new {
    border: solid green 5px;
}

.imgAction img {
    margin: 0px 10% 0px 10%;
}

.detailBook {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
    font-size: 16px;
}

.detailBook > div:not(.volumeInfo) {
    width: 98%;
    display: table;
    margin: 5px;
}

.detailBook span {
    height: 24px;
}

.detailBook .volumeInfo {
    /*display: none;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

.detailBook .title {
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    white-space: nowrap;
}

.detailBook .subtitle {
    margin-left: 40px;
}

.detailBook .link {
    font-size: 17px;
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 5px;
}

#authors > span:after {
    content: ",";
}

#authors > span:last-child:after {
  content: "";
}

/*.detailBook .link:hover {
    color: midnightblue;
    font-style: italic;
}*/

#formTag input[type=text] {
    width: 200px;
    max-width: 80%;
    position: relative;
    float: left;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#formTag button  {
    position: relative;
    vertical-align: middle;
    margin-left: -1px;
    font-size: 15px;
    color: #ffffff;
    background: darkgreen;
    border-color: darkgreen;
    border-style: solid;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px grey solid;
    height: 24px;
}

/*#formTag button:hover {
    background: limegreen;
    border-color: limegreen;
}*/

#userTags > div {
    display: inline-block;
}

#userTags button {
    position: relative;
    float: left;
    font-size: 15px;
    color: #ffffff;
    border-style: solid;
    cursor: pointer;
    height: 24px;
    margin: 0;
}

#userTags button.libelle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #575757;
    border-color: #575757;
}

#userTags button.libelle.new {
    background: darkgreen;
    border-color: darkgreen;
}

/*#userTags button.libelle:hover {
    background: #696969;
    border-color: #696969;
}*/

/*#userTags button.libelle.new:hover {
    background: green;
    border-color: green;
}*/

#userTags button:not(.libelle) {
    margin-left: -1px;
    margin-right: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #800000;
    border-color: #800000;
}

/*#userTags button:not(.libelle):hover {
    background: #A52A2A;
    border-color: #A52A2A;
}*/

#userDate {
    float: right;
}

#recommandWindow {
    z-index: 8;
}

#recommandWindow legend {
    font-style: italic;
    width: 100%;
    font-size: 13px;
}

#previewWindow {
    z-index: 8;
    height: 100%;
    width: 100%;
    border-color: black;
}

#previewWindow img[actclick="close"] {
    position: absolute;
    top: 15px;
    left: 15px;
    opacity: .75;
}


#previewWindow img[source="google-preview"] {
    position: absolute;
    bottom: 25px;
    left: 10px;
    opacity: .9;
    cursor: pointer;
}

#previewWindow > iframe {
    overflow: hidden;
    width: 99%;
    height: 99%;
}

#comments fieldset {
    width: 95%;
}

#comments legend {
    float: right;
}

#confirmWindow {
    position: absolute;
    z-index: 8;
}

.navgrid p {
    height: 60px;
    width: 100%;
    text-align: center;
}

.navgrid img {
    vertical-align: middle;
}

[nav=left] {
    position: relative;
    right: 32px;
}

[nav=right] {
    position: relative;
    left: 32px;
}

#contextMenu [actclick], #contextMenu .closeWindow {
    margin: 5px;
    cursor: pointer;
}

#footer {
    position: fixed;
    cursor: pointer;
    cursor: pointer;
    right: 5px;
    bottom: 5px;
    z-index: 5;
	margin: 2px;
	padding: 5px;
	border-radius: 5px;
}

#noConnect {
    position: absolute;
    background-color: darkred;
    opacity: 0.9;
    color: whitesmoke;
    font-size: 1.2em;
    max-width: 50%;
    width: 400px;
    padding: 5px;
    z-index: 9;
    border-radius: 5px;
    top: 10px;
    left: 10px;
}

.ri {
	width:	30%;
    height: auto;
	position: fixed;
	top	: 30%;
    left: 35%;
    cursor: wait;
	-moz-animation: fullRotation 5s inFinite;
	-webkit-animation: fullRotation 5s inFinite;
	-o-animation: fullRotation 5s inFinite;
	-ms-animation: fullRotation 5s inFinite;
	animation: fullRotation 5s inFinite;
}

.fadeout {
    -webkit-animation: fadeout .5s ease;
    -moz-animation: fadeout .5s ease;
    -o-animation: fadeout .5s ease;
    animation: fadeout .5s ease;
}

.fadein {
    -webkit-animation: fadein .5s ease;
    -moz-animation: fadein .5s ease;
    -o-animation: fadein .5s ease;
    animation: fadein .5s ease;
}

.leftout {
    -webkit-animation: leftout .5s ease-in-out;
    -moz-animation: leftout .5s ease-in-out;
    -o-animation: leftout .5s ease-in-out;
    animation: leftout .5s ease-in-out;
}

.leftin {
    -webkit-animation: leftin .5s ease-in-out;
    -moz-animation: leftin .5s ease-in-out;
    -o-animation: leftin .5s ease-in-out;
    animation: leftin .5s ease-in-out;
}

@-moz-keyframes leftin { from { left: -100%; } to { left: 0; }}
@-webkit-keyframes leftin { from { left: -100%; } to { left: 0; }}
@-o-keyframes leftin { from { left: -100%; } to { left: 0; }}
@-ms-keyframes leftin { from { left: -100%; } to { left: 0; }}
@keyframes leftin { from { left: -100%; } to { left: 0; }}

@-moz-keyframes leftout { from { left: 0; } to { left: -100%; }}
@-webkit-keyframes leftout { from { left: 0; } to { left: -100%; }}
@-o-keyframes leftout { from { left: 0; } to { left: -100%; }}
@-ms-keyframes leftout { from { left: 0; } to { left: -100%; }}
@keyframes leftout { from { left: 0; } to { left: -100%; }}

@-moz-keyframes fadein { from { opacity: 0; } to { opacity: 1; }}
@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; }}
@-o-keyframes fadein { from { opacity: 0; } to { opacity: 1; }}
@-ms-keyframes fadein { from { opacity: 0; } to { opacity: 1; }}
@keyframes fadein { from { opacity: 0; } to { opacity: 1; }}

@-moz-keyframes fadeout { from { opacity: 1; } to { opacity: 0; }}
@-webkit-keyframes fadeout { from { opacity: 1; } to { opacity: 0; }}
@-o-keyframes fadeout { from { opacity: 1; } to { opacity: 0; }}
@-ms-keyframes fadeout { from { opacity: 1; } to { opacity: 0; }}
@keyframes fadeout { from { opacity: 1; } to { opacity: 0; }}

@-moz-keyframes fullRotation {
	from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fullRotation {
	from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes fullRotation {
	from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes fullRotation {
	from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes fullRotation {
	from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    } to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes bounce {
    0%   {top: +0px;}
    50%  {top: +10px;}
    100% {top: +0px;}
}

@-webkit-keyframes bounce {
    0%   {top: +0px;}
    50%  {top: +10px;}
    100% {top: +0px;}
}

@-o-keyframes bounce {
    0%   {top: 0px;}
    50%  {top: 10px;}
    100% {top: 0px;}
}

@-ms-keyframes bounce {
    0%   {top: 0px;}
    50%  {top: 10px;}
    100% {top: 0px;}
}
