<article class="bookcell">
    <header>[{title}]</header>
    <button>{{add}}</button>
    <button>{{remove}}</button>
    <figure>
        <div>
            <div class="altCover"></div>
            <img src="[{source}]">
        </div>
        <figcaption>
            <footer>
                <div class="personnal nsv"></div>
                <div class="previewable nsv"></div>
                <div class="recommanded nsv"></div>
            </footer>
            [{authors}]
        </figcaption>
    </figure>
</article>
