    <header>[{title}]</header>
    [{#if inCollection}]
    <button class="add notdisplayed">{{add}}</button>
    <button class="remove">{{remove}}</button>
    [{else}]
    <button class="add">{{add}}</button>
    <button class="remove notdisplayed">{{remove}}</button>
    [{/if}]
    <figure>
        <span></span>
        <div>
            <div class="altCover"></div>
            <img class="notdisplayed">
        </div>
        <figcaption>
            <footer>
                [{#if preview}]
                <div class="previewable nsv"></div>
                [{/if}]
                [{#ifPers id}]
                <div class="personnal nsv"></div>
                [{/ifPers}]
                [{#ifRec id}]
                <div class="recommanded nsv"></div>
                [{/ifRec}]
            </footer>
            [{authors}]
        </figcaption>
    </figure>
