    <header>[{title}]</header>
    <button class="add [{add}]">{{add}}</button>
    <button class="remove [{remove}]">{{remove}}</button>
    <figure>
        <div>
            <div class="altCover"></div>
            <img src="[{source}]" class="notdisplayed">
        </div>
        <figcaption>
            <footer>
                <div class="personnal nsv [{pers}]"></div>
                <div class="previewable nsv [{acc}]"></div>
                <div class="recommanded nsv [{rec}]"></div>
            </footer>
            [{authors}]
        </figcaption>
    </figure>
