<header class="windowheader">&nbsp;
    <span class="direct">[{title}]</span>
    <div class="closeWindow" title="{{close}}"></div>
    [{#if inCollection}]
    <div id="detailSave" title="{{save}}"></div>
    <div id="detailRecommand" title="{{torecommand}}"></div>
    <div id="detailAdd" class="notdisplayed" title="{{add}}"></div>
    [{else}]
    <div id="detailSave" class="notdisplayed" title="{{save}}"></div>
    <div id="detailRecommand" class="notdisplayed" title="{{torecommand}}"></div>
    <div id="detailAdd" title="{{add}}"></div>
    [{/if}]
    [{#if link}]
    <div id="detailGbooks" title="{{gbooks}}"></div>
    <div id="detailConnex" title="{{connex}}"></div>
    [{/if}]
    [{#if preview}]
    <div id="detailPreview" title="{{preview}}"></div>
    [{/if}]
</header>
<article>
    <div class="detailCover" dir="rtl">
        [{#if src}]
        <div>
            <img id="detailCover" src="[{src}]"/>
        </div>
        [{else}]
        <div>
            <img id="detailCover" class="notdisplayed"/>
        </div>
        <div id="noCover"></div>
        [{/if}]
        [{#unless cover}]
        <div class="imgAction inCollection notdisplayed">
            <div class="upload"></div>
        </div>
        [{/unless}]
        <form name="uploadImg" class="notdisplayed">
            <input type="file" accept="image/*"/>
        </form>
    </div>
    <div class="detailBook">
        <div class="volumeInfo">
            <span class="title" tabindex="-1">{{title}}:</span>
            <span searchby="intitle:">[{title}]</span>&nbsp;
            <span searchby="intitle:">[{subtitle}]</span>
        </div>
        <div class="volumeInfo">
            <span class="title" tabindex="-1">{{authors}}:</span>
            [{#eachAuthors authors}][{this}][{/eachAuthors}]
        </div>
        [{#if publisher}]
        <div class="volumeInfo">
            <span class="title" tabindex="-1">{{publishBy}}:</span>
            <span searchby="inpublisher:">[{publisher}]</span>
            <span class="date">@&nbsp;[{formatDate publishedDate "{{lang}}"}]</span>
        </div>
        [{/if}]
        [{#if pageCount}]
        <div class="volumeInfo">
            <span class="title" tabindex="-1">{{nbPages}}:</span>
            <span class="direct">[{pageCount}]</span>
        </div>
        [{/if}]
        [{#ifISBN isbn10 isbn13}]
        <div class="volumeInfo">
            <span class="title" tabindex="-1">{{isbn}}:</span>
            <span searchby="isbn:" isbn10>[{isbn10}]</span>
            <span searchby="isbn:" isbn13>[{isbn13}]</span>
        </div>
        [{/ifISBN}]
        [{#if description}]
        <div class="volumeInfo">
            <span class="title" tabindex="-1">{{description}}:</span>
            <div description>{[{description}]}</div>
        </div>
        [{/if}]
        [{#if categories}]
        <div class="nonEditable">
            <span class="title" tabindex="-1">{{categories}}:</span>
            <span class="direct">[{categories}]</span>
        </div>
        [{/if}]
        [{#ifRec id}]
        <div class="nonEditable">
            <span class="title" tabindex="-1">{{from}}:</span>
            <span class="direct">[{from}]</span>
        </div>
        [{/ifRec}]
        <div class="inCollection notdisplayed">
            <form name="formTag" autocomplete="off">
                <input name="tag" type="text" placeholder="{{newTag}}" list="tagsList" minlength="2" maxlength="30" focus required size="30"/>
                <datalist id="tagsList"></datalist>
                <button type="submit">+</button>
            </form>
        </div>
        <div class="tags inCollection notdisplayed">
            [{#tags}]
            <div class="tag">
                <button class="libelle" title="{{filter}}">[{this}]</button>
                <button value="[{this}]" title="{{remove}}"><b>x</b></button>
            </div>
            [{/tags}]
        </div>
        <div id="userNote" class="inCollection notdisplayed">
            <div note=1 class="note empty"></div>
            <div note=2 class="note empty"></div>
            <div note=3 class="note empty"></div>
            <div note=4 class="note empty"></div>
            <div note=5 class="note empty"></div>
        </div>
        <div class="userComment inCollection notdisplayed">
            <textarea name="userComment" class="direct" rows="5" placeholder="{{comments}}">[{comment}]</textarea>
            <div class="direct date[{hasComment}]">&nbsp;@&nbsp;[{formatDate date}]</div>
        </div>
        <div class="notdisplayed">
            <span class="title">{{readersComments}}:</span>
            <span class="subtitle">{{mNote}}:&nbsp;
                <span>[{note}]</span>
            </span>
            <span id="comments"></span>
            [{#comments}]
            <div>
                <fieldset>
                    <div disabled="disabled">[{this.comment}]</div>
                    <br>
                    <legend>
                        <span>[{this.name}]</span>&nbsp;@&nbsp;
                        <span>[{formatDate this.date}]</span>.&nbsp;{{note}}:&nbsp;
                        <span>[{this.note}]</span>
                    </legend>
                </fieldset>
                <hr>
            </div>
            [{/comments}]
        </div>
        <div id="mostAdded">
            <span class="title notdisplayed">{{mostAdded}}:</span>
            <div class="notdisplayed"></div>
        </div>
    </div>
</article>
<form target="preview" action="/preview/[{id}]"></form>
