<header class="windowheader">&nbsp;
    <span class="direct" default="{{newBook}}">[{title}]</span>
    <div class="closeWindow" title="{{close}}"></div>
    <div id="detailSave" class="notdisplayed" title="{{save}}"></div>
    <div id="detailAdd" class="notdisplayed" title="{{add}}"></div>
    <div id="detailGbooks" class="notdisplayed" title="{{gbooks}}"></div>
    <div id="detailConnex" class="notdisplayed" title="{{connex}}"></div>
    <div id="detailPreview" class="notdisplayed" title="{{preview}}"></div>
    <div id="detailRecommand" class="notdisplayed" title="{{torecommand}}"></div>
</header>
<article>
    <div class="detailCover" dir="rtl">
        <div id="noCover[{alt}]"></div>
        <div>
            <img id="detailCover" src="[{source}]"/>
        </div>
        <div class="imgAction[{alt}]">
            <div class="upload"></div>
        </div>
        <form id="uploadHidden" class="notdisplayed">
            <input type="file" accept="image/*"/>
            <input type="hidden" message="errUpload" titre="error"/>
        </form>
    </div>
    <div class="detailBook">
        <div class="volumeInfo">
            <button class="title" tabindex="-1">{{title}}:</button>
            <span searchby="intitle:">[{title}]</span>&nbsp;
            <span searchby="intitle:">[{subtitle}]</span>
            <input type="text" class="notdisplayed" placeholder="{{title}}" error="{{errTitle}}" name="title" required minlength="3" />
            <input type="text" class="notdisplayed" placeholder="{{subtitle}}" name="subtitle" />
        </div>
        <div class="volumeInfo">
            <button class="title" tabindex="-1">{{authors}}:</button>
            [{#each authors}]
            <span searchby="inauthor:">[{this}]</span>
            [{/each}]
            <input type="text" class="notdisplayed" placeholder="{{authorsWithComa}}" name="authors"/>
        </div>
        <div class="volumeInfo">
            <button class="title" tabindex="-1">{{publishBy}}:</button>
            <span searchby="inpublisher:">[{publisher}]</span>
            <input type="text" class="notdisplayed" placeholder="{{publisher}}" name="publisher"/>
            <span class="date">[{XDate}]</span>
            <input type="date" class="notdisplayed" name="XDate" placeholder="{{publishedDate}}"/>
        </div>
        <div class="volumeInfo">
            <button class="title" tabindex="-1">{{nbPages}}:</button>
            <span class="direct">[{pageCount}]</span>
            <input type="number" class="notdisplayed" placeholder="{{nbPages}}" name="pageCount"/>
        </div>
        <div class="volumeInfo">
            <button class="title" tabindex="-1">{{isbn}}:</button>
            <span searchby="isbn:">[{isbn10}]</span>
            <input type="text" class="notdisplayed" placeholder="{{isbn10}}" size="10" maxlength="10" name="isbn10"/>
            <span searchby="isbn:">{{isbn13}}</span>
            <input type="text" class="notdisplayed" placeholder="{{isbn13}}" size="13" maxlength="13" name="isbn13"/>
        </div>
        <div class="volumeInfo">
            <button class="title" tabindex="-1">{{description}}:</button>
            <br>
            <span description class="tab"></span>
            <textarea class="notdisplayed" placeholder="{{description}}" rows="5" name="description"></textarea>
        </div>
        <div class="nonEditable">
            <button class="title" tabindex="-1">{{categories}}:</button>
            <span class="direct">[{categories}]</span>
        </div>
        <div class="nonEditable">
            <button class="title" tabindex="-1">{{from}}:</button>
            <span class="direct">[{from}]</span>
        </div>
        <div>
            <form name="formTag" autocomplete="off">
                <input name="tag" type="text" placeholder="{{newTag}}" list="tagsList" minlength="2" maxlength="30" auto-focus required size="30"/>
                <datalist id="tagsList"></datalist>
                <button type="submit">+</button>
            </form>
        </div>
        <div class="tags">
            [{#each tags}]
            <div class="tag">
                <button class="libelle" title="{{filter}}">[{this}]</button>
                <button title="{{remove}}"><b>x</b></button>
            </div>
            [{/each}]
        </div>
        <div id="userNote" class="inCollection notdisplayed">
            <div note="1" class="note empty"></div>
            <div note="2" class="note empty"></div>
            <div note="3" class="note empty"></div>
            <div note="4" class="note empty"></div>
            <div note="5" class="note empty"></div>
        </div>
        <div class="userComment inCollection notdisplayed">
            <textarea name="userComment" class="direct" rows="5" placeholder="{{comments}}"></textarea>
            <div class="direct date">&nbsp;@&nbsp;[{userDate}]</div>
        </div>
        <div class="notdisplayed">
            <span class="title">{{readersComments}}:</span>
            <span class="subtitle">{{mNote}}:&nbsp;
                <span>[{note}]</span>
            </span>
            <span id="comments"></span>
            <div>
                <fieldset>
                    <div disabled="disabled">[{comment.comment}]</div>
                    <br>
                    <legend>
                        <span>[{comment.name}]</span>&nbsp;@&nbsp;
                        <span>[{comment.date}]</span>.&nbsp;{{note}}:&nbsp;
                        <span>[{comment.note}]</span>
                    </legend>
                </fieldset>
                <hr>
            </div>
        </div>
        <div>
            <span class="title">{{mostAdded}}:</span>
            <div class="mostAdded">
                <header>[{mostAdded.title}]</header>
                <div class="altCover"></div>
                <img src="[{mostAdded.cover}]"/>
                <footer>[{mostAdded.authors}]</footer>
            </div>
        </div>
    </div>
</article>
<form target="iPreview" method="POST" action="/preview">
    <input type="hidden" name="previewid" value="[{id}]"/>
</form>
