<header>{{welcome}}</header>
<hr>
<section>
    <div>
        <aside id="helpMenu"></aside><span>{{mask}}&nbsp;/&nbsp;{{affich}}&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;M</span></div>
    <div>
        <aside id="helpLogout"></aside><span>{{logout}}&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;L</span></div>
    <div>
        <aside id="helpSearch"></aside><span>{{search}}&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;R</span></div>
    <div>
        <aside id="helpProfile"></aside><span>{{profile}}&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;P</span></div>
    <div>
        <aside id="helpCollection"></aside><span>{{collection}}&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;B</span></div>
    <div>
        <aside id="helpTags"></aside><span>{{tags}}&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;E</span></div>
    <div>
        <aside id="helpNotifs"></aside><span>{{notifications}}</span></div>
    <div>
        <aside id="helpAdd"></aside><span>{{addbook}}</span></div>
    <div>
        <aside id="helpContacts"></aside><span>{{contacts}}&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;I</span></div>
    <div>
        <aside id="helpHelp"></aside><span>Help&nbsp;-&nbsp;Ctrl&nbsp;+&nbsp;H</span></div>
</section>
<footer><button id="helpClose" class="closeWindow">{{close}}</button></footer>
