<div id="navbar" class="navbar">
    <div id="affichToggle" class="button" title="{{mask}}"></div>
    <div id="logout" class="button" title="{{logout}}"></div>
    <div id="recherche" class="button" title="{{search}}"></div>
    <div id="profile" class="button" title="{{profile}}"></div>
    <div id="collection" class="button" title="{{collection}}"></div>
    <div id="tags" class="button notdisplayed" title="{{tags}}"></div>
    <div id="notifications" class="button notdisplayed" title="{{notifs}}">
        <span id="notifNumber"></span>
    </div>
    <div id="tris" class="button" title="{{sorts}}"></div>
    <div class="filtre" title="{{filter}}">
        <form name="filterForm" autocomplete="off">
            <input type="search" error="{{errFilter}}" name="filtre" minlength="3" autocomplete="off" placeholder="{{filter}}" autofocus/>
        </form>
    </div>
    <div class="filtre">
        <span id="selectedTag" class="notdisplayed"><span></span></span>
        <span id="selectedSearch" class="notdisplayed"><span></span></span>
    </div>
    <div id="newbook" class="button" title="{{newBook}}"></div>
    <div id="contact" class="button" title="{{contacts}}"></div>
    <div id="saveorder" class="button notdisplayed" title="{{disposition}}"></div>
    <div id="picture" class="button notdisplayed" title="Google +"></div>
</div>
<div id="altNavbar" class="navbar notdisplayed">
    <div id="altAffichToggle" class="button" title="{{affich}}"></div>
</div>
<div id="sort" class="deroulant notdisplayed">
    <div by="title" class="sortBy">{{title}}&nbsp;<span class="asc"></span></div>
    <div by="title" sort="desc">{{title}}&nbsp;<span class="desc"></span></div>
    <div by="authors">{{authors}}&nbsp;<span class="asc"></span></div>
    <div by="authors" sort="desc">{{authors}}&nbsp;<span class="desc"></span></div>
    <div by="userNote" sort="desc">{{note}}&nbsp;<span class="asc"></span></div>
    <div by="userNote">{{note}}&nbsp;<span class="desc"></span></div>
</div>
<sorts class="notdisplayed deroulant"></sorts>
<notifs class="notdisplayed deroulant"></notifs>
