<html>
<head>
    <style>
        * {
            box-sizing: border-box;
            border: none;
        }
        body, #viewer {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0px;
        }
    </style>
</head>
<body>
    <div id="viewer"></div>
    <script src="https://www.google.com/jsapi"></script>
    <script>
        google.load("books", "1.0", {
            "language": "fr"
        });
        var noPreview = function() {
                document.getElementById("viewer").innerHTML = "<h2 style=\"color: white; text-align: center;\"><BR>Aucun aperçu disponible.</h2>"
            },
            removeFooter = function() {
                var a = document.getElementById("viewer").children,
                    b = a[0].children;
                b[b.length - 1].parentNode.removeChild(b[b.length - 1]);
            },
            initialize = function() {
                var a = new google.books.DefaultViewer(document.getElementById("viewer"), {
                    "showLinkChrome": false
                });
                a.load("{{id}}", noPreview, removeFooter)
            };
        google.setOnLoadCallback(initialize), document.oncontextmenu = function() {
            return false;
        };
    </script>
</body>

</html>
