@font-face {
    font-family: roboto_regular;
    src: url(/font/Roboto-Regular.ttf)
}

@font-face {
    font-family: roboto_bold;
    src: url(/font/Roboto-Bold.ttf)
}

@font-face {
    font-family: roboto_condensed;
    src: url(/font/RobotoCondensed-Regular.ttf)
}

@font-face {
    font-family: roboto_black;
    src: url(/font/Roboto-Black.ttf)
}

@font-face {
    font-family: roboto_italic;
    src: url(/font/Roboto-MediumItalic.ttf)
}

* {
    box-sizing: border-box
}

html {
    position: relative;
    background-color: #E0E0E0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: roboto_regular;
    width: 100%;
    height: 100%
}

bookcells {
    transition: top .5s;
}

.overflown {
    overflow: hidden
}

.scrolled {
    overflow: scroll
}

img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    filter: blur(0)
}

:focus {
    outline: 0
}

.notdisplayed {
    display: none!important
}

.invisible {
    visibility: hidden;
}

.window:not(.ng-hide) {
    animation: fadein .5s
}

form input {
    margin: 5px;
    padding: 5px
}

form input:invalid {
    box-shadow: none;
    border: 1.5px red solid !important;
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

/*.ng-invalid {
    border-color: red!important
}

.ng-valid {
    border-color: green!important;
    border-width: 2px!important
}

.def-cloak, .x-def-cloak, [data-def-cloak], [def-cloak], [def\:cloak], [x-def-cloak] {
    visibility: hidden!important
}*/

cloud>div, #contactsWindow div, #footer, #noCover, #selectedSearch::before, #selectedTag::before, sorts span, .altCover, #closePreview, #googlePreview, .help #helpHelp, .help aside, .imgAction .upload, .navbar .button, .navgrid [nav], .note, .roundIcon, .windowheader div, search footer, footer .personnal, footer .previewable, footer .recommanded {
    background-image: url(/images/spritesheet.png);
    background-repeat: no-repeat
}

footer .personnal {
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-position: -418px -486px
}

cell:hover footer .personnal {
    background-position: -486px -486px
}

footer .previewable {
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-position: -468px -62px
}

cell:hover footer .previewable {
    background-position: -10px -130px
}

footer .recommanded {
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-position: -178px -434px
}

cell:hover footer .recommanded {
    background-position: -246px -434px
}

.mostAdded {
    display: inline-block;
    width: 18%;
    vertical-align: top;
    text-align: center;
    padding: 5px;
    color: #f5f5f5;
    background-color: #3F3F3F;
    margin-right: 1%;
    cursor: pointer;
    position: relative;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 2px #888;
}

.mostAdded:hover {
    background-color: #b8860b;
}

.mostAdded header {
    font-weight: 500;
}

.mostAdded div {
    margin-top: 10px !important;
    margin-bottom: 10px;
}

.mostAdded img {
    padding: 5px;
    border-radius: 10px;
}

.mostAdded footer {
    font-family: roboto_italic;
}

search footer {
    width: 62px;
    height: 30px;
    float: right;
    background-position: -630px -538px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 4;
    padding-top: 2px;
    overflow: hidden
}

#navbar {
    width: 100%;
    background-color: #b8860b;
    opacity: .666;
    -webkit-transition: opacity .33s linear;
    -moz-transition: opacity .33s linear;
    -o-transition: opacity .33s linear;
    transition: opacity .33s linear;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
    filter: blur(0);
}

#navbar:hover {
    opacity: 1
}

#navbar.transparent {
    opacity: 0;
}

.navbar>* {
    display: inline-block;
    margin-left: 5px;
    height: 48px;
    position: relative
}

.navbar .filtre {
    vertical-align: bottom;
    padding-top: 3px;
}

.navbar .button {
    border-radius: 5px 15px;
    text-align: center;
    cursor: pointer;
    width: 48px;
    padding: 8px
}

#maskedorder {
    position: fixed;
    right: 1%
}

#navbar>div:hover:not(.active):not(.filtre):not(#picture) {
    background-color: #fff;
    color: #000;
    -webkit-transition: box-shadow ease-in-out .33s, background-color ease-in-out .33s;
    -moz-transition: box-shadow ease-in-out .33s, background-color ease-in-out .33s;
    -o-transition: box-shadow ease-in-out .33s, background-color ease-in-out .33s;
    transition: box-shadow ease-in-out .33s, background-color ease-in-out .33s
}

#navbar.inactive {
    pointer-events: none;
    opacity: .3
}

.help div {
    width: 100%;
    display: block
}

.help div>* {
    display: inline-block
}

.help aside {
    width: 48px;
    height: 48px
}

.help span {
    vertical-align: text-bottom
}

#affichToggle, #altAffichToggle, .help #helpMenu {
    background-position: -498px -426px
}

#affichToggle:hover {
    background-position: -550px -426px
}

#altAffichToggle:hover {
    background-color: #b8860b
}

#logout, .help #helpLogout {
    background-position: -252px -2px
}

#logout:hover {
    background-position: -200px -2px
}

#recherche, .help #helpSearch {
    background-position: -342px -426px
}

#recherche:not(.active):hover {
    background-position: -446px -426px
}

#recherche.active {
    background-position: -394px -428px
}

#profile, .help #helpProfile {
    background-position: -653px -70px
}

#profile:hover {
    background-position: -2px -70px
}

#collection, .help #helpCollection {
    background-position: -398px -206px
}

#collection:not(.active):hover {
    background-position: -346px -206px
}

#collection.active {
    background-position: -566px -206px
}

#tags, .help #helpTags {
    background-position: -598px -258px
}

#tags:hover {
    background-position: -601px -38px
}

#notifications, .help #helpNotifs {
    background-position: -2px -206px
}

#notifications:hover {
    background-position: -581px -159px
}

#tris {
    background-position: -498px -546px
}

#tris:hover {
    background-position: -446px -546px
}

#newbook, .help #helpAdd {
    background-position: -358px -478px
}

#newbook:hover {
    background-position: -306px -478px
}

#saveorder {
    background-position: -122px -546px
}

#saveorder:hover {
    background-position: -70px -546px
}

#picture {
    position: absolute;
    right: 5px;
    background-size: 100% 100%!important
}

#contact, .help #helpContacts {
    background-position: -482px -122px
}

#contact:hover {
    background-position: -534px -122px
}

.help, .waiting {
    position: fixed;
    top: 0 !important;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #616161;
    z-index: 6
}

.help {
    opacity: .96;
    color: #f5f5f5
}

.help header {
    margin: 10px;
    font-size: 1.5em;
    font-weight: bolder;
    color: orange
}

.help hr {
    margin: 10px
}

.help section {
    margin: 15px
}

.help section span {
    margin: 5px;
    height: 32px
}

.help>footer {
    position: fixed;
    right: 10px;
    bottom: 10px
}

.help>footer button {
    height: 30px;
    background-color: #b8860b;
    font-weight: 700;
    border: none!important;
    border-radius: 5px 15px;
    cursor: pointer;
    vertical-align: bottom;
    color: #f5f5f5
}

.help>footer button:hover {
    background-color: orange
}

.waiting {
    cursor: wait;
    opacity: .75;
    . text-align: center;
    background-color: grey
}

.waiting.over {
    z-index: 8
}

#selectedSearch, #selectedTag {
    font-family: roboto_italic;
    border-bottom: 2px solid #f5f5f5;
    padding: 5px 20px 5px 5px;
    border-radius: 0 15px;
    cursor: default;
    white-space: nowrap;
    position: relative
}

#selectedSearch>span, #selectedTag>span {
    position: relative;
    left: 18px
}

#selectedTag::before {
    content: "";
    width: 16px;
    height: 16px;
    background-position: -609px -10px;
    vertical-align: sub;
    position: absolute
}

#selectedSearch::before {
    content: "";
    width: 16px;
    height: 16px;
    background-position: -314px -434px;
    vertical-align: sub;
    position: absolute
}

#contactsWindow div {
    cursor: pointer
}

#contactsWindow article div {
    width: 64px;
    height: 64px;
    display: inline-block;
    border-radius: 25%;
    margin: 5px
}

.help #helpHelp {
    background-position: -581px -117px
}

#googleLink {
    background-position: -354px -350px
}

#googleLink:hover {
    background-position: -438px -350px
}

#facebookLink {
    background-position: -522px -266px
}

#facebookLink:hover {
    background-position: -438px -266px
}

#mailLink {
    background-position: -490px -182px
}

#mailLink:hover {
    background-position: -354px -266px
}

#helpLink {
    background-position: -94px -434px
}

#helpLink:hover {
    background-position: -522px -350px
}

#gandiLink {
    width: 79px;
    height: 39px;
    float: right;
    margin: 5px;
    background-position: -10px -10px
}

#gandiLink:hover {
    background-position: -109px -10px
}

notifs, sorts {
    background-color: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 4;
    position: fixed;
    text-align: left;
    min-width: 10%;
    opacity: .9;
}

notifs:hover, sorts:hover, .onTris {
    opacity: 1;
}

notifs>div, sorts>div {
    padding: 5px;
    cursor: pointer;
    white-space: nowrap
}

sorts span {
    width: 16px;
    height: 16px;
    display: inline-block
}

sorts>div:not(.sortBy) .asc {
    background-position: -594px -590px
}

sorts>div:hover .asc, .sortBy .asc {
    background-position: -558px -590px
}

sorts>div:not(.sortBy) .desc {
    background-position: -558px -554px
}

sorts>div:hover .desc, .sortBy .desc {
    background-position: -594px -554px
}

notifs>div:hover, sorts>div:not(.sortBy):hover {
    color: #b8860b;
    text-decoration: underline;
    font-family: roboto_italic
}

.sortBy {
    font-weight: 700;
    color: #b8860b
}

button:disabled, input[type=button]:disabled, input[type=submit]:disabled {
    opacity: .5;
    cursor: default!important
}

#footer {
    background-position: -411px -57px;
    position: fixed;
    cursor: pointer;
    right: 5px;
    bottom: 5px;
    z-index: 5;
    padding: 5px;
    border-radius: 15px 5px;
    width: 42px;
    height: 42px;
    filter: blur(0);
}

#footer:hover {
    background-color: #b8860b
}

#notifNumber {
    position: absolute;
    right: -3px;
    padding: 3px 6px;
    background-color: red;
    color: #fff;
    font-weight: bolder;
    font-size: .9em;
    text-align: center;
    border-radius: 30px;
    box-shadow: 1px 1px 1px gray;
    z-index: 1;
    top: 0
}

bookcells {
    position: relative;
    width: 100%;
    text-align: left;
    display: block;
}

.errMsg {
    text-align: right;
    color: #8b0000;
    font-weight: 700;
    text-decoration: underline
}

/*.cell {
    position: relative;
    display: inline-block;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s;
    vertical-align: top;
}*/

cell {
    display: inline-table;
    color: #000;
    font-size: 12px;
    z-index: 2;
    text-align: center;
    position: relative;
    vertical-align: top;
    background-color: #FFF;
    box-shadow: 2px 2px 2px 2px #888;
    border-color: #666;
    margin-bottom: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

cell.rotated {
    animation: 1s cellRotate ease-in-out;
}

@keyframes cellRotate {
  from { transform: rotateY(0deg); } to { transform: rotateY(90deg); }
}

cell > * {
    padding: 5px;
}

cell img {
    border-radius: 5px;
}

cell:hover {
    color: #000;
    background-color: #b8860b;
    transition: box-shadow .33s ease-in-out, background-color .33s ease-in-out
}

cell.isDrag {
    background-color: silver !important;
    cursor: move;
    opacity: .85;
}

cell.isDrag header {
    color: silver !important;
    font-size: 150%;
    background-color: #000 !important;
}

cell header {
    color: #000;
    font-size: 150%;
    background-color: #E0E0E0;
    border-bottom-right-radius: 9px;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
    font-family: roboto_bold
}

cell:hover header {
    color: #daa520;
    background-color: #3F3F3F
}

cell figure {
    margin: 5px;
    position: relative;
}

/* Tooltip text */
cell figure span, .mostAdded span {
    width: 100%;
    background-color: black;
    text-align: center;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    position: absolute;
    z-index: 5;
    opacity: .85;
    color: #daa520;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    overflow: hidden;
    cursor: url(/images/iconmonstr-x-mark-2-icon.png), pointer;
    transform: scaleY(0);
    transform-origin: 50% bottom;
    transition: transform .5s ease;
}

cell figure span {
    font-size: 1.2em;
}

cell figure:hover span, .mostAdded:hover span {
    transform: scaleY(1);
}

cell .altCover, .mostAdded .altCover {
    width: 128px;
    height: 128px;
    display: inline-block;
    margin-top: 5px
}

cell .altCover {
    background-position: -65px -735px;
}

cell:hover .altCover, .mostAdded .altCover {
    background-position: -510px -660px
}

cell figure img {
    filter: grayscale(75%);
    transition: all .75s ease-in-out;
}

cell:hover figure img {
    filter: grayscale(0%);
}

cell figcaption {
    font-size: 150%;
    text-align: center;
    position: relative;
}

cell footer {
    position: absolute;
    left: 5px;
    top: -53px
}

cell button {
    font-size: 125%;
    opacity: .9;
    display: inline-block;
    width: 40%;
    z-index: 3;
    color: #fff;
    border: none!important;
    min-height: 40px;
    cursor: pointer
}

cell button:hover {
    opacity: 1;
    font-weight: bolder
}

cell footer>div {
    float: left;
    margin-right: 5px
}

button.add {
    position: absolute;
    left: 0;
    background-color: #006400;
    border-bottom-right-radius: 10px
}

button.remove {
    position: absolute;
    right: 0;
    background-color: #8b0000;
    border-bottom-left-radius: 10px
}

.active {
    background-color: #000
}

.description {
    position: absolute;
    background-color: #000;
    color: gold;
    z-index: 4;
    opacity: .8;
    border: 2px solid #b8860b;
    border-radius: 5px;
    padding: 5px;
    cursor: url(/images/iconmonstr-x-mark-2-icon.png), pointer;
    overflow: hidden;
    font-size: 15px
}

.description>span {
    font-weight: bolder;
    text-decoration: underline
}

.detailBook input, .detailBook textarea {
    display: block
}

.detailBook [type=text]:not([name=formTag] [type=text]), .detailBook textarea {
    width: 80%!important
}

.detailBook [description] > * {
    padding-left: 10px;
}

.detailBook button {
    border: none!important;
    height: 24px;
    color: #000;
    background-color: transparent
}

.modify {
    background-color: #006400!important;
    border-radius: 5px;
    color: #fff!important;
    cursor: pointer
}

.modify:hover {
    background-color: green!important
}

.hide {
    background-color: #8b0000!important;
    border-radius: 5px;
    color: #fff!important;
    cursor: pointer
}

.hide:hover {
    background-color: red!important
}

.detailBook [type=date]:before, .detailBook time:before {
    content: "@ ";
    font-weight: bolder
}

.detailBook [isbn10]:before {
    content: "10: "
}

.detailBook [isbn13]:before {
    content: "13: "
}

cloud {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
    background-color: #000;
    z-index: 7;
    text-align: center
}

cloud>div {
    position: fixed;
    right: 0;
    margin: 5px;
    cursor: pointer;
    z-index: 8;
    width: 64px;
    height: 64px;
    background-position: -658px -214px;
    border-radius: 45%
}

cloud>div:hover {
    background-position: -636px -130px
}

cloud span.tag {
    cursor: pointer;
    position: fixed;
    padding: 2px
}

cloud span.tag:hover {
    text-decoration: underline;
    color: #f5f5f5;
    font-weight: bolder
}

cloud span.tag10 {
    color: #B8860B;
    font-size: 6em
}

cloud span.tag9 {
    color: #FF8C00;
    font-size: 5em
}

cloud span.tag8 {
    color: orange;
    font-size: 4.5em
}

cloud span.tag7 {
    color: #8B4513;
    font-size: 4em
}

cloud span.tag6 {
    color: #D2691E;
    font-size: 3.5em
}

cloud span.tag5 {
    color: peru;
    font-size: 3em
}

cloud span.tag4 {
    color: #DAA520;
    font-size: 2.5em
}

cloud span.tag3 {
    color: #F4A460;
    font-size: 2em
}

cloud span.tag2 {
    color: tan;
    font-size: 1.5em
}

cloud span.tag1 {
    color: #DEB887;
    font-size: 1em
}

.window {
    width: 500px;
    border: 5px solid #b8860b;
    background-color: #fff;
    z-index: 7;
    max-width: 96%;
    position: fixed;
    left: 10px;
    /*border-bottom-right-radius: 10px;*/
    box-shadow: 2px 2px 2px 2px #888
}

detail>* {
    display: block
}

detail>article {
    height: calc(100% - 50px);
}

detail>article>* {
    float: left
}

.imgAction {
    text-align: center;
    display: inline-block
}

.imgAction .upload {
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-position: -606px -318px
}

.imgAction .upload:hover {
    background-position: -661px -10px
}

.windowheader {
    background-color: #b8860b;
    color: #fff;
    font-size: 24px;
    line-height: 50px;
    font-family: roboto_black
}

.windowheader div {
    float: right;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin-right: 2px
}

.windowheader .closeWindow, .windowheader #closeRecommand {
    background-position: -622px -470px
}

.windowheader .closeWindow:hover, .windowheader #closeRecommand:hover {
    background-position: -674px -298px
}

.windowheader #detailSave {
    background-position: -354px -130px
}

.windowheader #detailSave:hover {
    background-position: -422px -130px
}

.windowheader #detailAdd {
    background-position: -10px -554px
}

.windowheader #detailAdd:hover {
    background-position: -554px -486px
}

.windowheader #detailGbooks {
    background-position: -10px -350px
}

.windowheader #detailGbooks:hover {
    background-position: -10px -266px
}

.windowheader #detailConnex {
    background-position: -250px -554px
}

.windowheader #detailConnex:hover {
    background-position: -182px -554px
}

.windowheader #detailPreview {
    background-position: -536px -62px
}

.windowheader #detailPreview:hover {
    background-position: -10px -130px
}

.windowheader #detailRecommand {
    background-position: -318px -554px
}

.windowheader #detailRecommand:hover {
    background-position: -386px -554px
}

.note {
    width: 48px;
    height: 48px;
    display: inline-block;
    cursor: pointer
}

.empty {
    background-position: -78px -656px
}

.select {
    background-position: -146px -656px
}

.empty.plus {
    background-position: -10px -656px
}

.select.minus {
    background-position: -630px -588px
}

#closePreview {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    background-position: -658px -214px
}

#closePreview:hover {
    background-position: -610px -386px
}

.noCover {
    background: radial-gradient(circle at 50%, #f5f5f5 0, #dcdcdc 100%)!important
}

#noCover {
    width: 276px;
    height: 276px;
    max-width: 100%;
    max-height: 100%;
    background-position: -78px -114px;
    margin-top: 10px
}

#googlePreview {
    background-position: -312px -10px;
    width: 69px;
    height: 23px;
    position: absolute;
    bottom: 2px;
    left: 2px;
}

.window input {
    margin: 2px
}

.window>div {
    width: 100%;
    position: relative;
    padding: 2px;
    white-space: nowrap
}

.window p {
    margin: 0!important
}

.window .radio {
    font-family: roboto_italic;
    text-decoration: underline
}

.window [type=radio] {
    vertical-align: bottom
}

#recommand4u {
    text-align: left
}

.window .cancel, .window .valid, .window input[type=button], .window input[type=submit] {
    border-radius: 5px;
    text-shadow: 0 1px 0 #525252;
    font-family: roboto_condensed;
    color: #fff;
    font-size: 15px;
    background: #006400;
    padding: 5px 10px;
    border: none!important;
    cursor: pointer
}

.window input[type=submit] {
    float: right
}

.window .valid {
    float: right;
    margin: 5px
}

.window .cancel {
    float: left;
    margin: 5px;
    background: #8b0000
}

.window .valid:hover, .window input[type=button]:not([disabled]):hover, .window input[type=submit]:not([disabled]):hover {
    background: #32cd32
}

.window .cancel:hover {
    background: red
}

.filtre [type=search], .window [type=email], .window [type=number], .window [type=password], .window [type=search], .window [type=text], .window textarea {
    font-size: 15px;
    border: 1px solid grey;
    height: 24px;
    border-radius: 5px
}

.window [type=email], .window [type=password], .window [type=search], .window [type=text], .window textarea {
    width: 80%
}

.window textarea {
    height: 5em;
    margin-top: 5px
}

.window [type=date] {
    font-size: 15px;
    border: 1px solid grey;
    height: 24px;
    border-radius: 5px
}

.window label {
    width: 80%
}

.window #delete {
    float: right;
    background: #8b0000
}

.window #delete:not([disabled]):hover {
    background: red
}

search [type=radio], search label {
    cursor: pointer
}

search>img {
    float: right;
    cursor: default
}

.waitAnim {
    text-align: center;
    z-index: 7;
    width: 100%;
    position: fixed;
    top: 0;
    height: auto;
    cursor: no-drop
}

.waitAnim>div {
    margin: 5px;
    border-radius: 33%;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    position: relative;
    cursor: wait;
    -moz-animation: bounce .9s infinite;
    -webkit-animation: bounce .9s infinite;
    -o-animation: bounce .9s infinite;
    -ms-animation: bounce .9s infinite;
    animation: bounce .9s infinite
}

.waitAnim>#one {
    background-color: #EDDA74
}

.waitAnim>#two {
    background-color: #EAC117;
    -moz-animation-delay: .1s;
    -webkit-animation-delay: .1s;
    -o-animation-delay: .1s;
    -ms-animation-delay: .1s;
    animation-delay: .1s
}

.waitAnim>#three {
    background-color: #D4A017;
    -moz-animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -o-animation-delay: .2s;
    -ms-animation-delay: .2s;
    animation-delay: .2s
}

.waitAnim>#four {
    background-color: #806517;
    -moz-animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -o-animation-delay: .3s;
    -ms-animation-delay: .3s;
    animation-delay: .3s
}

.waitAnim>#five {
    background-color: #493D26;
    -moz-animation-delay: .4s;
    -webkit-animation-delay: .4s;
    -o-animation-delay: .4s;
    -ms-animation-delay: .4s;
    animation-delay: .4s
}

#nbBooks {
    font-weight: 700
}

#contactsWindow {
    width: 400px!important
}

#contactsWindow span {
    font-family: roboto_italic;
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: .75em
}

#contactsWindow>article {
    text-align: center
}

detail {
    margin-left: 1%;
    margin-top: 1%;
    width: 99% !important;
    height: 97%;
    overflow: hidden;
    top: 0px;
}

#detailContent {
    height: 95%
}

#detailContent>div {
    display: inline-block;
    vertical-align: top;
    height: 95%;
    overflow-y: auto
}

.userComment {
    width: 80%!important
}

.userComment>* {
    display: inline
}

#detailContent textarea {
    width: 100%
}

.userComment div {
    vertical-align: bottom
}

.detailCover {
    width: 20%;
    max-width: 33%;
    text-align: center;
    overflow: hidden
}

.detailCover>img {
    margin-top: 5%;
    cursor: default;
    max-width: 96%
}

.detailCover>img.new {
    border: 5px solid green
}

.detailBook {
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 66%;
    width: 80%;
    height: auto;
    max-height: 98%;
    font-size: 16px
}

.detailBook>div:not(.volumeInfo) {
    width: 98%;
    display: table;
    margin: 5px
}

.detailBook span:not(.mostAdded span) {
    height: 24px
}

.detailBook .volumeInfo {
    margin-top: 5px;
    margin-bottom: 5px
}

.detailBook .title {
    font-size: 18px;
    text-decoration: underline;
    font-weight: 700;
    white-space: nowrap;
    margin-right: 10px;
}

.detailBook .volumeInfo span.title {
    display: inline-block;
    padding-left: 5px;
}

.detailBook .volumeInfo [description] {
    padding-left: 5px;
}

.detailBook .subtitle {
    margin-left: 40px
}

.detailBook [searchby] {
    font-size: 17px;
    color: #00008b;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 5px
}

#authors>span:after {
    content: ","
}

#authors>span:last-child:after {
    content: ""
}

.detailBook [searchby]:hover {
    color: #191970;
    font-family: roboto_italic
}

[name=formTag] input[type=text] {
    width: 200px;
    max-width: 80%;
    position: relative;
    float: left;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

[name=formTag] button {
    position: relative;
    vertical-align: middle;
    margin-left: -1px;
    font-size: 15px;
    color: #fff;
    background: #006400;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid grey;
    height: 24px
}

[name=formTag] button:hover {
    background: #32cd32;
    border-color: #32cd32
}

#userTags>div {
    display: inline-block
}

#userTags button {
    position: relative;
    float: left;
    font-size: 15px;
    color: #fff;
    border-style: solid;
    cursor: pointer;
    height: 24px;
    margin: 0
}

div.tag {
    display: inline-block
}

div.tag button {
    color: #f5f5f5;
    border: none;
    line-height: 18px;
    cursor: pointer
}

div.tag button.libelle {
    border-radius: 5px 0 0 5px;
    background: #575757
}

div.tag button.libelle.new {
    background: #006400
}

div.tag button.libelle:hover {
    background: #696969
}

div.tag button.libelle.new:hover {
    background: green
}

div.tag button:not(.libelle) {
    margin-left: -5px;
    margin-right: 5px;
    border-radius: 0 5px 5px 0;
    background: maroon
}

div.tag button:not(.libelle):hover {
    background: brown
}

#userDate {
    float: right
}

recommand {
    z-index: 9 !important;
    top: 10px;
}

recommand legend {
    font-family: roboto_italic;
    width: 100%;
    font-size: 13px
}

preview {
    z-index: 9 !important;
    height: calc(100% - 20px);
    width: 716px !important;
    max-width: 80% !important;
    top: 10px;
}

preview img[actclick=close] {
    position: absolute;
    top: 15px;
    left: 15px
}

preview img[source=google-preview] {
    position: absolute;
    bottom: 25px;
    left: 10px;
    cursor: pointer
}

preview>iframe {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: none;
}

#comments fieldset {
    width: 80%;
    max-width: 90%
}

#comments legend {
    float: right
}

#confirmWindow {
    position: absolute;
    z-index: 10
}

[ng-click] {
    cursor: pointer
}

context {
    position: fixed;
    width: 200px!important;
    max-width: 25%!important;
    z-index: 9!important;
    background-color: #000;
    border: none!important;
    color: #f5f5f5;
    border-radius: 5px;
    text-align: center
}

.navgrid>div {
    height: 60px;
    width: 100%;
    text-align: center;
    display: inline-block
}

.navgrid [nav] {
    margin: 10px;
    width: 32px;
    height: 32px;
    display: inline-block;
    cursor: pointer
}

[nav=top] {
    background-position: -312px -62px
}

[nav=top]:hover {
    background-position: -364px -62px
}

[nav=bottom] {
    background-position: -401px -10px
}

[nav=bottom]:hover {
    background-position: -453px -10px
}

[nav=left] {
    position: relative;
    right: 32px;
    background-position: -505px -10px
}

[nav=left]:hover {
    background-position: -557px -10px
}

[nav=right] {
    position: relative;
    left: 32px;
    background-position: -208px -62px
}

[nav=right]:hover {
    background-position: -260px -62px
}

context [id] {
    cursor: pointer;
    margin: 5px;
}

context [id]:hover {
    color: #000;
    background-color: #b8860b
}

#noConnect {
    position: absolute;
    background-color: #8b0000;
    color: #f5f5f5;
    font-size: 1.2em;
    max-width: 50%;
    width: 400px;
    padding: 5px;
    z-index: 9;
    border-radius: 5px;
    top: 10px;
    left: 10px
}

#noConnect span {
    white-space: nowrap;
    display: block
}

.roundIcon {
    width: 256px;
    height: 256px;
    z-index: 7;
    position: fixed;
    top: 42%;
    left: 42%;
    vertical-align: middle;
    cursor: wait;
    -moz-animation: fullRotation 5s inFinite;
    -webkit-animation: fullRotation 5s inFinite;
    -o-animation: fullRotation 5s inFinite;
    -ms-animation: fullRotation 5s inFinite;
    animation: fullRotation 5s inFinite;
    background-position: -227px -628px
}

@-moz-keyframes fullRotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes fullRotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes fullRotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-ms-keyframes fullRotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes fullRotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.fadeout {
    -webkit-animation: fadeout .5s ease;
    -moz-animation: fadeout .5s ease;
    -o-animation: fadeout .5s ease;
    animation: fadeout .5s ease
}

.fadein {
    -webkit-animation: fadein .5s ease;
    -moz-animation: fadein .5s ease;
    -o-animation: fadein .5s ease;
    animation: fadein .5s ease
}

.toTop {
    top: 0;
    -webkit-transition: top .5s ease;
    -moz-transition: top .5s ease;
    -o-transition: top .5s ease;
    transition: top .5s ease
}

@-moz-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-o-keyframes fadeout {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-ms-keyframes fadeout {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeout {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-moz-keyframes bounce {
    0% {
        top: +0px
    }
    50% {
        top: +10px
    }
    100% {
        top: +0px
    }
}

@-webkit-keyframes bounce {
    0% {
        top: +0px
    }
    50% {
        top: +10px
    }
    100% {
        top: +0px
    }
}

@-o-keyframes bounce {
    0% {
        top: 0
    }
    50% {
        top: 10px
    }
    100% {
        top: 0
    }
}

@-ms-keyframes bounce {
    0% {
        top: 0
    }
    50% {
        top: 10px
    }
    100% {
        top: 0
    }
}

@keyframes bounce {
    0% {
        top: 0
    }
    50% {
        top: 10px
    }
    100% {
        top: 0
    }
}
