* {
    box-sizing: border-box
}

:focus {
    outline: 0
}

body {
    background-color: #E6E6E6;
    background-image: url(../../images/background_login.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: #f8f8ff;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}

.notdisplayed {
    display: none!important
}

h1 {
    padding-left: 10px
}

#f, .k, section {
    background-image: url(../../images/spritesheet_login.png);
    background-repeat: no-repeat
}

section {
    background-position: 0 0;
    background-size: cover;
    background-attachment: inherit;
    width: 492px;
    max-width: 96%;
    margin: 2%;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    opacity: .9
}

form input {
    margin: 5px;
    padding: 5px
}

form input:invalid {
    box-shadow: none;
    border: 1.5px red solid;
}

[type=email], [type=password], [type=text] {
    display: block;
    width: 90%;
    border: 1px solid #000;
    border-radius: 2px
}

label {
    display: block
}

[type=checkbox], label {
    margin: 5px;
    cursor: pointer;
    vertical-align: middle;
    line-height: 100%
}

[type=button], [type=submit] {
    font-weight: 700;
    border-radius: 2px;
    min-width: 20%;
    cursor: pointer;
    border: none!important
}

[type=button]:hover, [type=submit]:not([disabled]):hover {
    text-decoration: underline;
    font-style: italic
}

[type=submit] {
    float: right
}

[disabled] {
    cursor: not-allowed!important;
    color: graytext!important
}

.e {
    border: 4px solid #CB4747
}

.error {
    font-weight: 700;
    background-color: red;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    float: right;
    margin-bottom: 5px
}

p {
    margin: 0;
    text-align: right;
    padding-bottom: 5px
}

#f {
    margin-right: 5px!important;
    background-position: -590px -10px;
    background-color: transparent;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border: none!important;
    border-radius: 15px 5px;
    opacity: .7
}

#f:hover {
    background-position: -522px -10px;
    opacity: .9
}

form span {
    text-align: right
}

.g {
    width: 100%;
    text-align: right;
    font-weight: 700;
    color: red;
    padding: 5px;
    font-size: 18px;
    float: right;
    vertical-align: middle
}

.n {
    width: 100%;
    text-align: right;
    font-weight: 700;
    color: #32cd32;
    padding: 5px;
    font-size: 18px;
    float: right;
    vertical-align: middle
}

.w {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: wait;
    opacity: .5;
    background-color: #616161;
    text-align: center;
    z-index: 5
}

.k {
    width: 256px;
    height: 256px;
    position: fixed;
    top: 25%;
    left: 40%;
    animation: fullRotation 5s inFinite;
    background-position: -658px -10px;
    z-index: 6;
    opacity: .75;
    cursor: wait
}

.m {
    background-color: #ff8c00;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
    min-width: 20%;
    cursor: pointer;
    border: none!important;
    margin: 5px;
    padding: 5px
}

.m:not(.l):not([disabled]):hover {
    background-color: orange;
    text-decoration: underline;
    font-style: italic
}

.l {
    opacity: .5;
    color: grey
}

.fadeout {
    animation: fadeout .25s ease
}

.fadein {
    animation: fadein .5s ease
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeout {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fullRotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.ng-invalid {
    border-color: red!important
}

.ng-valid {
    border-color: green!important;
    border-width: 2px!important
}

input:not(.ng-hide) {
    animation: fadein .5s
}
